[user]
	email = antoniofbove@gmail.com
	name = above
[core]
	excludesfile = /Users/anto/.gitignore_global
[pull]
	; ff = only
	rebase = false
[init]
	defaultBranch = main
[alias]
	co = checkout
	plr = pull --rebase
