[user]
	email = antoniofbove@gmail.com
	name = above
[core]
	; FIXME: 
	; excludesfile = "$HOME/.gitignore_global"
[includeIf "gitdir:~/work/"]
	path = ~/.gitconfig.work
[init]
	defaultBranch = main
[rebase]
	autostash = true
[pull]
	rebase = true
[alias]
	co = checkout
[core]
	editor = nvim -f
[branch]
	sort = -committerdate
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[help]
	autocorrect = prompt
